.text {
  &-tonic {
    color: $brand-tonic !important;
  }
  &-lemon-green {
    color: $app-lemon-green !important;
  }
  &-lime-green {
    color: $app-lime-green !important;
  }
  &-dark {
    color: $brand-dark !important;
  }
}
