.main {
  height: 100%;
  width: 100%;
  &__drawer {
    display: none;
    @include boxShadow(md, $brand-dark);
    background: lighten($color: $app-gray, $amount: 4%);
    border: toRem(1) solid darken($color: $app-gray, $amount: 0%);
  }
}

.home-page {
  width: 100%;
  min-height: 100vh;
  grid-template-rows: toRem(80) auto;
}

.nav-bar {
  @include flex-center-between();
  border-top: toRem(1) solid $app-gray;
  border-bottom: toRem(1) solid $app-gray;
}

@include breakpoint-up(md) {
  .main {
    &__drawer {
      display: block;
      justify-content: center;
    }
  }
  .home-page {
    grid-template-rows: toRem(100) auto;
  }
}
